.DS_Store
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/node_modules/
package-lock.json
/migrations/
.gitlab-ci.yml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*pycache*
*.pyc